/**
    font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Muli', sans-serif;
    font-family: 'Titillium Web', sans-serif;
    font-family: 'Dosis', sans-serif;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Russo One', sans-serif;
 */

$font-roboto : 'Roboto', sans-serif!important;
$font-montserrat : 'Montserrat', sans-serif!important;
$font-raleway : 'Raleway', sans-serif!important;
$font-muli : 'Muli', sans-serif!important;
$font-titllium : 'Titillium', sans-serif!important;
$font-dosis : 'Dosis', sans-serif!important;
$font-quicksand : 'Quicksand', sans-serif!important;
$font-russone : 'Russo One', sans-serif!important;
